LOG_LEVEL="info" # debug | info | error | fatal
NODE_ENV="production" # development | production
KAIBAN_API_BASE_URL=
KAIBAN_API_TOKEN=
KAIBAN_TENANT=  # Optional. Set if the agent is associated with a specific tenant
A2A_BASE_URL=  # Optional. This value is used in the a2a agent cards. Set if the url where the agent will be published is known